:root {
  --primary: #0a96b9;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}
/** GLOBALES **/

span {
  background-color: var(--primary);
}

/** CONTENEDORES **/

.cajas {
  margin: 0 auto;
  max-width: 95%;
  max-height: 95%;
  width: 100rem;
  height: 20rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.contenedor-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background-color: white;
  padding-bottom: 6rem;
}

.cajas,
.contenedor12,
.contenedor6,
.contenedor3,
.contenedor2 {
  gap: 2rem;
}

.cajas {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.contenedor12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.contenedor6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.contenedor3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contenedor2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/** MEDIAS QUERIES **/

/** QUERIES 480 **/
@media (max-width: 480px) {
  .cajas {
    width: 48rem;
    height: 100rem;
  }
}

@media (max-width: 480px) {
  .contenedor12 {
    width: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .contenedor6 {
    width: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .contenedor3 {
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .contenedor2 {
    width: 40rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}

/** QUERIES 1025 **/

@media (min-width: 1025px) {
  .cajas {
    width: 1025rem;
    height: 100rem;
  }
}

@media (min-width: 1025px) {
  .contenedor12 {
    display: grid;
    width: 10rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 1025px) {
  .contenedor6 {
    display: grid;
    width: 20rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 1025px) {
  .contenedor3 {
    width: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 1025px) {
  .contenedor2 {
    width: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 50%;
  }
}
